.Card {
  cursor: pointer;
  border: 3px outset #a41c1c;
  border-radius: 10px !important;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3) !important;
}

.CardContent {
  font-family: "Poppins", sans-serif !important;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
